<form (ngSubmit)="onSubmit()" class="form-container">
  <h1 class="form-title">
    {{ isEditing ? 'Modifier Habitude' : 'Ajouter une Habitude' }}
  </h1>

  <div class="form-group">
    <label for="name">Nom de l'habitude :</label>
    <input
      id="name"
      [(ngModel)]="habit.name"
      name="name"
      required
      placeholder="Exemple : Lire un livre"
    />
  </div>

  <div class="form-group">
    <label for="description">Description :</label>
    <textarea
      id="description"
      [(ngModel)]="habit.description"
      name="description"
      placeholder="Décrivez cette habitude en quelques mots."
    ></textarea>
  </div>

  <div class="form-group">
    <label for="frequency">Fréquence :</label>
    <select id="frequency" [(ngModel)]="habit.frequency" name="frequency">
      <option value="quotidienne">Quotidienne</option>
      <option value="hebdomadaire">Hebdomadaire</option>
    </select>
  </div>

  <div class="form-group">
    <label for="active">Statut :</label>
    <select id="active" [(ngModel)]="habit.active" name="active">
      <option [value]="true">Actif</option>
      <option [value]="false">Inactif</option>
    </select>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="startDate">Date de début :</label>
      <input
        id="startDate"
        type="date"
        [(ngModel)]="habit.startDate"
        name="startDate"
        required
      />
    </div>
    <div class="form-group">
      <label for="endDate">Date de fin :</label>
      <input
        id="endDate"
        type="date"
        [(ngModel)]="habit.endDate"
        name="endDate"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="targetCount">Objectif à atteindre :</label>
    <input
      id="targetCount"
      type="number"
      [(ngModel)]="habit.targetCount"
      name="targetCount"
      min="0"
      placeholder="Exemple : 7 fois par semaine"
    />
  </div>

  <div class="form-group streak-group">
    <div class="streak-item">
      <label for="currentStreak">Streak Actuel :</label>
      <p class="streak-value">{{ habit.currentStreak }}</p>
    </div>
    <div class="streak-item">
      <label for="bestStreak">Meilleur Streak :</label>
      <p class="streak-value">{{ habit.bestStreak }}</p>
    </div>
  </div>
  

  <button type="submit" class="btn-submit">
    {{ isEditing ? 'Mettre à Jour' : 'Ajouter' }}
  </button>
</form>
